<div class="rating__user">
  <div>
    <span><%= firstName %> <%= lastName %></span>
  </div>
  <span><%= email %></span>
</div>

<div class="rating__score">
  <em>Score:</em> <span class="points"><%= score %></span>
</div>
