@import "../../scss/abstracts/main-abstracts.scss";

.rating__item {
  @extend %flexible;
  margin-bottom: 10px;
  padding-top: 5px;
  padding-right: 10px;
  padding-bottom: 5px;
  padding-left: 10px;
  background-color: $bg-color;

  &__user {
    display: flex;
    flex-direction: column;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.points {
  color: $main-color;
}
