@import
	'abstracts/variables',
	'abstracts/mixins',
	'abstracts/plaseholders';

  //common styles
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.body {
  height: 100vh;
  font-family: "Play", sans-serif;
  font-size: $font-size;
  color: $main-font-color;
}
