@import "../../scss/abstracts/main-abstracts.scss";

.nav {
  height: 100%;

  &__list {
    @extend %flexible;
    
    position: relative;
    height: 100%;
  }

  &__item {
    height: 100%;
    text-transform: uppercase;
    text-align: center;
    transition: $animation-eff;

    &:hover {
      @include hover-interactive($main-color); 
    }
  }

  &__link {
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    align-items: center;
    height: 100%;
  }
}
