<ul class="nav__list">
  <li class="nav__item">
    <a class="nav__link" href="/">About game</a>
  </li>
  <li class="nav__item">
    <a class="nav__link" href="/rating">Best score</a>
  </li>
  <li class="nav__item">
    <a class="nav__link" href="/settings">Game settings</a>
  </li>
</ul>
