@import "../../scss/abstracts/main-abstracts.scss";

.cards-field {
  @extend %flexible;
  
  margin: 0 auto;
  display: grid;
  grid-template: 1fr / repeat( 4, 1fr);
  grid-gap: 15px; 
  width: fit-content;
}
