$main-color: #45ac64;
$second-color: #2b2b2b;
$main-font-color: #fff;
$bg-color: #dfdfdf;
$error: #c20f0f;
$valid: #4dac00;
$error-bg: #dd8c8c;
$valid-bg: #b0dd8c;

$font-size: 18px;
$animation-eff: all ease .3s;
