<div class="about__rules">
  <h1 class="main-title">How to play?</h1>
  <ul class="about__list">
    <li class="about__list-item">
      <p>Please, register new player in game: "Sing up" button.</p>
    </li>
    <li class="about__list-item">
      <p>Configure your game settings: "Game settings" in navigation.</p>
    </li>
    <li class="about__list-item">
      <p>Start you new game: "Start game" button. Remember card positions and match it before times up =)</p>
    </li>
  </ul>
</div>
